  ---
  export const prerender = false;
  import type { Article } from '../../types'
  import { fetchArticles } from '../../fetch'
  import Layout from '../../layouts/Layout.astro'

  const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/articles/${Astro.params.id}`);
  const article = await response.json();

  const store = import.meta.env.MEDIA_STORE

  const fixedContentHtml = article.content_html?.replace(
    /src="\/api\/media\/file/g,
    `src="${store}`
  );


  ---
  <Layout>




    { article ?

      <article>
        <h1>{article.title}</h1>
        <div set:html={fixedContentHtml}></div>
      </article> : null}

  </Layout>

  <style>
      article {
          padding: var(--size-5);
          text-align: left;

      }

  </style>