  ---
  export const prerender = false;
  import type { Article } from '../../types'
  import { fetchArticles } from '../../fetch'
  import Layout from '../../layouts/Layout.astro'

  const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/articles/${Astro.params.id}`);
  const article = await response.json();

  const store = import.meta.env.MEDIA_STORE
  ---
  <Layout>

    {article?.image ? <img src={`${store}/${article.image.filename}`} alt={article.title}
                          class="article-image" /> : null}


    { article ?

      <article>
        <h1>{article.title}</h1>
        <div set:html={article.content_html}></div>
      </article> : null}

  </Layout>

  <style>
      article {
          padding: var(--size-5);
          text-align: left;

      }

  </style>