---
import type { Article } from "../types";
import { fetchArticles } from "../fetch";
import Layout from "../layouts/Layout.astro";

export const prerender = false;
const articles: Article[] = await fetchArticles();

function getRecap(content: string, length: number) {
  return content.slice(0, length) + "[ ...]";
}

function formatDate(dateString: string | undefined) {
  if(!dateString) return ""
  const date = new Date(dateString);
  return date.toLocaleDateString("fr-FR", {
    day: "numeric",
    month: "long",
    year: "numeric",
  });
}

const store = import.meta.env.MEDIA_STORE
---

<Layout>

  <ul class="articles-list">
    {articles.length > 0 ? articles.map((article: Article) => (
      <li class="article-card">
        <a href={`/articles/${article.id}`} class="article-link">
          <img src={`${store}/${article.image.filename}`} alt={article.title} class="article-image" />
          <div class="article-content">
            <h2>{article.title}</h2>
            <p class="article-date">{formatDate(article.date)}</p>
            <div class="rich-text" set:html={getRecap(article.content_html, 200)}></div>
          </div>
        </a>
      </li>
    )) : <p>Il n'y a pas d'actus</p>}
  </ul>


</Layout>

